.image__priceContainer {
    position: absolute;
    width: 116px;
    height: 58px;
    bottom: 14px;
    right: 13px;
    background-color: #37d997;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 7px;
    box-sizing: border-box;
  }